table{
    border-collapse: collapse;
    width: 100%;
}
td, th{
    border:1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: gray;
}
h1{
    color: brown;
}
img{
    border-radius: 10px;
}
img:hover{
    transform: scale(1,5);
}